{% extends 'base.html.twig' %}

{% block title %}Evénements
{% endblock %}

{% block body %}
	<header>Les filtres</header>
	<section>
		{% for evenement in evenements %}
			<article>
				<div><img src="{{ asset( evenement.imageSrc ) }}" alt=""></div>
				<div>
					<h5>{{evenement.titre}}
						le
						{{evenement.date | date("d/m/Y")}}
					</h5>
					<p>{{evenement.lieu}}</p>
					<p>{{evenement.description}}</p>
					<p>Nombre de places total :
						{{evenement.nbPlaces}}</p>
				</div>
			</article>
		{% endfor %}
	</section>
{% endblock %}
